---
const { data } = Astro.props;
---

<div class="carousel">
  {data.map((slide, index) => (
    <div class={`carousel-item ${index === 0 ? 'carousel-item-visible' : ''}`} >
      <img src={slide.image} alt="" />
      <div class="caption">{slide.caption}</div>
    </div>
  ))}

  <div class="carousel-actions">
    <button id="carousel-button-prev" aria-label="Previous slide"> 
      &#x219c;
    </button>
    <div id="carousel-slide-nav"></div>
    <button id="carousel-button-next" aria-label="Previous slide">
      &#x219d;
    </button>
  </div>
</div>



  <script>
    const prevButton = document.getElementById("carousel-button-prev");
    const nextButton = document.getElementById("carousel-button-next");
    const slideNav = document.getElementById("carousel-slide-nav");
    const slides = document.querySelectorAll(".carousel-item");
    const totalSlides = slides.length;
    let slidePos = 0;
    let navigation = slideNav.childNodes;

    slideNavigation();

    function displaySlide(element, className) {
      for (let item = 0; item < totalSlides; item++) {
        item === slidePos
          ? element[item].classList.add(className)
          : element[item].classList.remove(className);
      }
    }

    function nextSlide() {
      if (slidePos === totalSlides - 1) {
        slidePos = 0;
      } else {
        slidePos++;
      }
      displaySlide(slides, "carousel-item-visible");
      displaySlide(navigation, "nav-current");
    }

    function prevSlide() {
      if (slidePos === 0) {
        slidePos = totalSlides - 1;
      } else {
        slidePos--;
      }
      displaySlide(slides, "carousel-item-visible");
      displaySlide(navigation, "nav-current");
    }

    function slideNavigation() {
      for (let slide = 0; slide < totalSlides; slide++) {
        let span = document.createElement("span");
        if (slide === slidePos) {
          span.classList.add("nav-current");
        }
        slideNav.append(span);
        span.addEventListener("click", function () {
          slidePos = slide;
          displaySlide(slides, "carousel-item-visible");
          displaySlide(navigation, "nav-current");
        });
      }
    }

    prevButton.addEventListener("click", prevSlide);
    nextButton.addEventListener("click", nextSlide);


  </script>

  <style>
 
    .caption{
        display: flex;
        padding:20px;
        overflow-y: scroll;
        height:100%;
        width:50%;
    }

    .carousel {
        max-width: 100%;
        position: relative;

    }

    .carousel-item {
        display: none;
        position: relative;

    }

    .carousel-item img {
        width: 50%;
        max-width: 100%;
        height: auto;
        min-height: 300px;
        user-select: none;
        
    }

    .carousel-item-visible {
        display: flex;
        border: var(--border);
        animation: fadedVisibility 0.5s;
        height:400px;

    }

    .carousel-actions {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      z-index: 1; /* Ensures the buttons appear on top of the image */
 

    }

    .carousel-actions button {
        user-select:none;
        height: 40px;
        width: 40px;
        border-radius: 25px;
        font-size: 20px;
        border: 2px solid white;
        background-color: var(--pColor);;
        color: #e0e0e0;
        transition: all 0.5s;
        margin:-35px;
    }

    .carousel-actions button:hover {
        background-color: var(--pColorHover);
    }

    .carousel-actions #carousel-slide-nav {
        align-self: flex-end;
    }

    .carousel-actions #carousel-slide-nav span {
        display: inline-block;
        height: 12px;
        width: 12px;
        border-radius: 6px;
        background: rgba(250, 250, 250, 0.625);
        transition: all 0.5s;
    }

    .carousel-actions #carousel-slide-nav span + span {
       margin-left: 15px;
    }

    .carousel-actions #carousel-slide-nav span.nav-current,
    .carousel-actions #carousel-slide-nav span.nav-current:hover {
        background: crimson;
    }

    .carousel-actions #carousel-slide-nav span:hover {
         background: white;
    }

    @keyframes fadedVisibility {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
    }

    /*for mobile*/
    @media only screen and (max-width:650px){

      /*make the buttons a bit smaller*/
      .carousel-actions button {
        height: 30px;
        width: 30px;  
    }
    .carousel-actions button {
      /*move the buttons a bit up on mobile*/
        position: relative;
        bottom:10px;
    }

    .carousel-item-visible {
        display: block;
        border: var(--border);
        min-height:700px;
        height:min-content;

    }

    .carousel-item img {
        width: 100%;
        height:50%;
        
    }
    .caption{
        padding:20px;
        overflow-y: scroll;
        width:100%;
    }

    
  }
  </style>