---
import MainLayout from '@layouts/MainLayout.astro';
import '@styles/Global.css';

const pathHome =  './';

//newPath

const folderPath1 = "../../toolbox";
const folderPath2 = "../../rankings";
const folderPath3 = "../../ratings";

---

<MainLayout folderPath1= {folderPath1} folderPath2 = {folderPath2} folderPath3 = {folderPath3} pathHome = {pathHome}>
	<div class = 'post-content'>
		<div class = 'box'>
			<h1 class = 'title'>about</h1>
			<br>
			<p>hi! i'm sarai.</p>
			<br>
			<p>major: finance & computer science</p>
			<br>
			<p>where: rutgers, nj</p>
			<br>
			<p>what: here, i break down all the classes i take in a way that's easier to understand for me and hopefully for you too. </p>
			<br>
			<p>also, this site is <i>always</i> a work in progress so some class notes are still not done. </p>

		</div>
		<div class = 'box'>
			<h1 class = 'title'>how to navigate this site</h1>
			<br>
			<p> all class tabs are at the bottom navigation bar. you can also use the search bar at top! </p>
		</div>
		<div class = 'box'>
			<h1 class = 'title' >prefer video?</h1>
			<br>
			<p>i have most of my notes in video format as well, you can check out the videos at <a href = "https://www.youtube.com/@saraimarte/featured"> saraimarte</a> on youtube.</p>
			<br>
			<p>have fun studying!</p>
			<br>
			<p>p.s. if you have any feedback, recommendations or just want to say hi, feel free to fill out <a href ="https://maple-lungfish-d35.notion.site/133df209da66806fa311f53c85b83567?pvs=105">this form.</a> No login required.</p>
		</div>		
	</div>
</MainLayout>

<style>
	
    .skip-circle { 
		position: fixed;
		top: 20px; 
		left: 20px; 
		cursor: pointer; 
		color: white; 
		font-size: 16px;
	}

	.skipBtn{
		border-radius: 50%;
		background: url('/012024r2.png');
		width:50px;
		height:50px;
		display: flex;
		justify-content: center;
		align-items: center		;
		position: relative;		
		bottom:-380px;																																																									;
	}																																																																																																																																																																																																																																																																																																																																																																																																																																																																															
	.box{
		display: flex;
		flex-direction: column;
		gap:0.2em;
		
	}
	.post-content{
		width:90%;
        display: flex;
        flex-direction: column;
        gap:48px;
        width:100%;
	}
	
	#logo, .title{
        font-weight: 400;
		font-size: 20px;

    }

    .title{
		font-size: 1.5rem;
		text-decoration: underline;
		text-underline-offset: 5px;

	}

    p{
		font-size: 1.4rem;
    }

</style>
