---
import '@styles/Global.css';

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/favicon-16x16.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Sarai Studies</title>
	</head>
	<body>
        <canvas class="webgl"></canvas>
        <script>
			import '../scripts/script'
		</script>
	</body>
</html>

