---
import Main from '@layouts/MainLayout.astro';
const pathHome =  './';

const folderPath1 = "../../toolbox";
const folderPath2 = "../../rankings";
const folderPath3 = "../../ratings";

---

<!--newPath -->

<Main  folderPath1= {folderPath1} folderPath2 = {folderPath2} folderPath3 = {folderPath3} pathHome = {pathHome}>

<h2 class = "title"> Free tools to help you study! </h2>

<br>

<h3>ChatGPT Like Interfaces</h3>
<ul></ul>
<li> <a href = "https://chatgpt.com/"> ChatGPT </a></li>
<li> <a href = "https://claude.ai/chats"> Claude.ai </a></li>
<li> <a href = "https://copilot.microsoft.com/">Microsoft Copilot</a></li>
<li><a href = "https://gemini.google.com/app">Gemini AI </a></li>
<li> <a href = "https://notebooklm.google/"> NotebookLM </a></li>
<li> <a href = "https://studyx.ai/webapp/home"> Studyx </a></li>
<li> <a href = "https://pi.ai/talk"> Pi </a></li>
<li> <a href = "https://www.questionai.com/"> QuestionAI </a></li>
</ul>
<br/>

<h3>Search Engines</h3>
<ul>
<li> <a href = "https://exa.ai/"> Exa.ai </a></li>
<li> <a href = "https://www.perplexity.ai/"> Perplexity AI </a></li>
<li> <a href = "https://you.com/"> You.com </a></li>
</ul>

<br/>


<h3> Creative Tools</h3>
<br/>
<ul>
    <li> <a href = "https://firefly.adobe.com/">Adobe Firefly</a></li>
    <li><a href = "https://designer.microsoft.com/">Microsoft Designer</a></li>
    <li><a href = "https://suno.com/"> Suno Song Generator</a></li>
    <li> <a href = "https://mubert.com/"> Mubert.com</a></li>
    <li> <a href = "https://www.artbreeder.com/create"> Artbreeder</a></li>
    <li> <a href = "https://playground.com/"> Playground</a></li>

</ul>
<br>

<h3>Misc</h3>
<ul>
<li> <a href = "https://www.imagetotext.io"> Image to Text </a></li>
<li> <a href = "https://www.jdoodle.com/online-java-compiler/"> Online Java Compiler IDE</a></li>
<li> <a href = "https://ebin.pub/qdownload/writing-and-reporting-for-the-media-12nbsped-0190649429-9780190649425.html"> Writing For the Media Textbook </a></li>
<li> <a href = "https://www.acethinker.com/online-downloader-5#pills-home"> Download embedded videos from Canvas for free </a></li>
<li> <a href = "https://riverside.fm/transcription">Riverside - Video to Transcript (You can out 1hr+ videos too)</a></li>
<li> <a href = "https://www.chatpdf.com/"> Chat With a PDF</a></li>

</ul>
<br/>

<h2 class = "title"> Useful Links for Rutgers CS Students </h2>

<br>

<ul>
<li> <a href = "https://secure.sas.rutgers.edu/apps/special_permission/cs/"> Request SPN for CS </a></li>
</ul>

</Main>

<style>
    .title{
        font-weight: 600;
	    font-size:1.5em;			
    }

    ul{
        margin:0px 20px;
    }

    li{
        margin-bottom:5px;
    }
    a{
        color:black;
    }
</style>