---

import { Prism } from '@astrojs/prism';
const {lang, code, fileName} = Astro.props;

---

<div>

<p>{fileName}</p>

<Prism lang= {lang} code={code} />

</div>

<style>
    div{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    p{
        background: #030314;
        color: rgb(189, 189, 189);
        padding:5px 10px;
        border-radius: 5px;
        font-size:0.8rem;
        width:max-content;
        position: relative;
        top:30px;
    }
</style>