---
const {code} = Astro.props;
---

<span>{code}</span>

<style>
    span{
        
        padding:3px 10px;
        background-color:black;
        color: #d6e7ff;
        border-radius:6px;
        font-size:small;
        
    }
</style>