---

const {link,title} = Astro.props;
import cursorIcon from '@assets/cursorBlack.svg';

---


<a href = {link}>
    <img id="cursor" src={cursorIcon.src} alt={`cursor icon`} />
    {title}

</a>


<style>
    a{
        border-radius: 5px;
        padding:5px 10px;
        text-decoration: none;
        color:rgb(71, 179, 247);
        margin:10px 0;
        border: 2px dashed lightskyblue;
        display:flex;
        font-size: 17px;
        align-items: center;
    }
    a:hover{
        border: 2px solid lightskyblue;
    }
    #cursor{
        width: 30px;
        height: 30px;
        pointer-events: none;
    }
</style>