---

const {link,title} = Astro.props;
import icon from '@assets/icons/game.svg';

---


<a href = {link} target = "_blank">
    <img id="cursor" src={icon.src} alt={`icon`} />
    <p>{title}</p>

</a>


<style>
    a{
        border-radius: 5px;
        text-decoration: none;
        padding:2px 10px;
        color:rgb(71, 179, 247);
        margin:10px 0;
        border: 2px dashed lightskyblue;
        display:flex;
        align-items: center;
        gap:0.5em;
        
    }
    a:hover{
        border: 2px solid lightskyblue;
    }
    #cursor{
        width: 30px;
        height: 30px;
        pointer-events: none;
    }

    p{
       font-size: 17px;
       position: relative;
       top:2px;
    }
</style>