---
const { img, alt } = Astro.props;
---

<div class="card">
  <div class="content">
    {img && <img src={img.src} alt={alt} />}
    {img && <p>{alt}</p>}
    <slot></slot>
  </div>
</div>

<style>

  /*bordered part of the component (conic stuff) by Temani Afif https://stackoverflow.com/a/61913549*/
  .card {
    margin: 20px 10px; /*10px margin left and right so that it fits the width of the content*/
    --b: 2px;   /* thickness of the border */
    --c: var(--pColor);   /* color of the border */
    --w: 20px;  /* width of border */
    
    display: inline-block;
    max-width: 100%;
    padding: var(--w);
    position: relative;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card::before {
    content: "";
    position: absolute;
    inset: 0;
    background:
      conic-gradient(from 90deg  at top    var(--b) left  var(--b),#0000 90deg,var(--c) 0) 0    0    / var(--w) var(--w) border-box no-repeat,
      conic-gradient(from 180deg at top    var(--b) right var(--b),#0000 90deg,var(--c) 0) 100% 0    / var(--w) var(--w) border-box no-repeat,
      conic-gradient(from 0deg   at bottom var(--b) left  var(--b),#0000 90deg,var(--c) 0) 0    100% / var(--w) var(--w) border-box no-repeat,
      conic-gradient(from -90deg at bottom var(--b) right var(--b),#0000 90deg,var(--c) 0) 100% 100% / var(--w) var(--w) border-box no-repeat;
    }

  .content {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    z-index:1; /* so that tweets are clickable*/
  }

  img {
    display: block;
    max-width: 100%;
    max-height: 500px;
    width: auto;
    height: auto;
    object-fit: contain;
  }
  :global(.twitter-tweet) {
    max-width: 100% !important;
    width: 100% !important;
    
  }

  @media (max-width: 768px) {
    .card {
      width: 100%;
      padding: 10px;
    }

  :global(.twitter-tweet) {
    max-width: auto  !important;
    height:auto  !important;
  }
    
  }
</style>

