---
const { align = "center" } = Astro.props;
---

<div class="ruleBox" style={`align-items: ${align === "left" ? "flex-start" : "center"};`}>
  <slot />
</div>

<style> 
.ruleBox {
  border: 5px solid rgb(255, 118, 141);
  background-color: rgb(250, 193, 210);
  height: min-content;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 10px;
}
</style>
