---

---

<p>
    
Please follow <a href = "https://nbacademicintegrity.rutgers.edu/sites/default/files/10.2.13%20-%20current.pdf">Rutgers University's Principles of Academic Integrity.</a>

</p>

<style>
    
p{
    background-color:var(--pColor);
    padding:10px;
    border-radius: 5px;
}

a{
    color:black;
}

</style>