---
import katex from 'katex';
import 'katex/dist/katex.min.css'; // Import KaTeX CSS

const { formula = '' } = Astro.props;
const html = katex.renderToString(formula, { throwOnError: false });
---

<div>
  <span set:html={html} />
</div>

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.css"
  integrity="sha384-NFTC4wvyQKLwuJ8Ez9AvPNBv8zcC2XaQzXSMvtORKw28BdJbB2QE8Ka+OyrIHcQJ"
  crossorigin="anonymous"
/>
