---
const {number, img, alt} = Astro.props;
---

<div style = "display:flex; gap:5px; align-items:center;">
   <p>{number}.</p>
   <div style = "object-fit:contain;" > 
       <img src={img.src} alt= {alt}  />
   </div>
</div>
    
  