---
---

<div class = "quoteBox">
  
    <div class = "quote">
        <slot></slot>
    </div>
</div>

<style>
  .quoteBox{
    min-height:min-content;
    display: flex;
    align-items: center;
    height:max-content;
    border-left: 3px solid  rgb(145, 202, 204);
    gap:1em;
    padding: 0 0 0 1em;
  }

  .iconContainer{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    height:100%;
    width:min-content;
  }
  
  .quoteIcon{
    color:blue;
    font-size:4rem;
    padding-left:10px;
    position: relative;
    bottom:10px;
    height:100%;
    width:100%;
  }

  .author{
     height:100%;
     width:100%;
   }
</style>
