---

---

<div class = "ruleBox">
    <slot>
    </slot>
</div>

<style>

.ruleBox{
    border:5px solid rgb(118, 209, 255);
    background-color:rgb(193, 236, 250);
    height: min-content;
    min-height:100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1em;
    flex-direction:column;
    padding:0 20px;
    margin-bottom:10px;
}
</style>