---
---

<div id="search"></div>
<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        // @ts-ignore
        new PagefindUI({ element: "#search", showSubResults: true , pageSize:1, showImages: false});
    });
</script>

<style>
    #search {
 
    }
    div{
        
        background-color:white;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        width:100%;
        height:100%;
        padding:0 20px;
    }

    #searchIcon{
        border-top:var(--border);
        border-left:var(--border);
        border-bottom:var(--border);
        padding:4px;
        height:100%;
        width:10%;
    }
   .search{
        border:var(--border);
        padding-left:10px;
        width:100%;
        height:100%;
        border-radius: 0%;
   }

</style>