---
import x from "@assets/icons/x.svg";
import {Image} from "astro:assets";
import Search from '@components/Search.astro';

---

<div class = "topNav">
    <div class = "row1">
        <h1 id = "logo"> sarai studies </h1>
        <Image x-on:click = "closedScreen=true" id = "navItem" src = {x} alt = ""/> 
    </div>
    <div class = "row2">
        <Search/>
    </div>
</div>

<style>

    .topNav{
        display:flex;
        flex-direction:column;
        height:min-content;
        z-index:1;
        gap:0.5em;
    }

    #logo{
        font-family: var(--primaryFont);
        font-weight: 400;
        font-size:xx-large;
    }
    .row1{
        width:100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding:0 20px;
    }
    .row2{
        width:100%;
        min-height:100%;
        
    }

</style>