---
---
<table>
  <thead>
    <tr>
      <th>Steps</th>
      <th>Sarai</th>
      <th>You</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Intercepts</td>
      <td>10B = 2A</td>
      <td>8B = 1A</td>
    </tr>
    <tr>
      <td>Solve for A (A for apple!)</td>
      <td>1A = 5B</td>
      <td>1A = 8B</td>
    </tr>
    <tr>
      <td>Solve for B (B for banana!)</td>
      <td>1B = 1/5A</td>
      <td>1B = 1/8A</td>
    </tr>
    <tr>
      <td>Who gives up less when making 1 apple?</td>
      <td>x</td>
      <td></td>
    </tr>
    <tr>
      <td>Who gives up less when making 1 banana?</td>
      <td></td>
      <td>x</td>
    </tr>
  </tbody>
</table>


  <style>
    td{
        border:1px solid black;
        text-align: center;
        padding:10px;
    }

    th{
        border:1px solid black;
        padding:10px;
    }
  </style>