---

---
<table>
    <tr>
      <th>STEP</th>
      <th>WIP</th>
      <th>FG</th>
      <th>COGS</th>
      <th>TOTAL</th>
    </tr>
    <tr>
      <td><b>B</b></td>
      <td>500</td>
      <td>100</td>
      <td>200</td>
      <td>800</td>
    </tr>
    <tr>
      <td><b>E</b></td>
      <td>500/800 = 62.5%</td>
      <td>100/800 = 12.5%</td>
      <td>200/800 = 25%</td>
      <td>100%</td>
    </tr>
    <tr>
      <td><b>D</b></td>
      <td>62.5%(2000) = 1250</td>
      <td>12.5%(2000) = 250</td>
      <td>25%(2000) = 500</td>
      <td>800</td>
    </tr>
    <tr>
      <td>ADJ B</td>
      <td>500 + 1250 = 1750</td>
      <td>100 + 250 = 350</td>
      <td>200 + 500 = 700</td>
      <td>2,800</td>
    </tr>
  </table>
  
  <style>
    td{
        border:1px solid black;
        text-align: center;
        padding:10px;
    }

    th{
        border:1px solid black;
  
    }
  </style>