---
---

  
<table>
  <thead>
    <tr>
      <th></th>
      <th>Sarai</th>
      <th>You</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Banana(s)</td>
      <td>10</td>
      <td>8</td>
    </tr>
    <tr>
      <td>Apples</td>
      <td>2</td>
      <td>1</td>
    </tr>
  </tbody>
</table>

  <style>
    td{
        border:1px solid black;
        text-align: center;
        padding:10px;
    }

    th{
        border:1px solid black;
        padding:10px;
    }
  </style>