---
---
<table>
    <tr>
      <th>Operator</th>
      <th>Operation</th>
      <th>Operator</th>
      <th>Operation</th>
    </tr>
    <tr>
      <td>+</td>
      <td>ADD</td>
      <td>&lt;</td>
      <td>LESS THAN</td>
    </tr>
    <tr>
      <td>-</td>
      <td>SUBTRACT</td>
      <td>&gt;</td>
      <td>MORE THAN</td>
    </tr>
    <tr>
      <td>x</td>
      <td>TIMES</td>
      <td>==</td>
      <td>SAME AS</td>
    </tr>
    <tr>
      <td>/</td>
      <td>DIVISION</td>
      <td>!=</td>
      <td>NOT THE SAME AS</td>
    </tr>
    <tr>
      <td>%</td>
      <td>REMAINDER</td>
      <td>&#124;&#124;</td>
      <td>OR</td>
    </tr>
    <tr>
      <td>=</td>
      <td> SET EQUAL TO </td>
      <td>&amp;&amp;</td>
      <td>AND</td>
    </tr>
  </table>
  
<style>
    td{
        border:1px solid black;
        text-align: center;
        padding:10px;
    }

    th{
        border:1px solid black;
        padding:10px;
    }
  </style>