---

---
<div class = "blogContent">
    <slot></slot>
    <br/>
</div>

<!--Note: If the content div isnt there then the styles for the blogs dont work -->

<style is:inline>

    * {
        font-family: "IBM Plex Mono", monospace;
        line-height: 1.5;
	      letter-spacing: .2px;
    }

    .blogContent{
      margin-top:20px;
    }
    
    h1, h2, h3, h4, h5, h6, p{ 
      margin: 10px 0; /* the fix for the side effects of this is in the slug page of each class*/
    }
  
    h1{
      font-size:1.5rem;
    }

    h2{
      font-size:1.4rem;
    }

    h3{
      font-size:1.3rem;
    }

    p, a, li, ol, ul{
        font-size: 1rem;
    }
    

</style>

